.card {
  width: 100%;
  height: 160px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #a2cff0;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.info {
  position: relative;
  height: 100%;
  width: 100%;
  grid-column: 1 / 2;
  background: #f2f2f2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.infoDetail {
  margin-left: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  > header {
    > h1 {
      font-size: 1.25rem;
    }
  }
}

.attributes {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 4;
  margin: auto;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  > img {
    height: 70%;

    object-fit: cover;
  }
}

.footer {
  width: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  z-index: 1;
  right: 10px;
}
