.container {
  width: 100%;
    background: transparent;
  padding: 1rem;
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1125px;
    position: fixed;
    bottom: 0;
}

.container p {
   font-weight: bold;
    font-size: 1.125rem;

  @media (max-width: 450px){
    font-size: 0.75rem;
  }
}