:root {
  --color-third: #f5db13;
  --color-primary: #f2b807;
  --color-second: #f28f16;
  --color-danger: #d93e30;
  --color-white: #f6f7f9;
  --color-dark: #212121;
  --color-green: #73d677;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

body,
input,
button,
template {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
